.Box{
    height: 100px;
    width: 100px;
    margin: 0.1rem;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
}

.Box:hover{
    cursor: pointer;
    transform: scale(1.2);
}